@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Rubik+Wet+Paint&display=swap');
:root 
{
    --mainBackground: #091921;
    --headingFont: "Rubik Wet Paint", system-ui;
    --primaryFont: 'Great Vibes' , cursive;
    --secondaryFont: "Comic Neue", cursive;
    --mainFont: "Irish Grover", system-ui;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    min-height: 100vh;
    width: 100%;
}
section
{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
}
nav{
    position: sticky;
    width: 14em;
    height: 100vh;
    background: transparent;
    z-index: 1;
}
nav .sidebar
{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
nav .sidebar .sidebar_top_wrapper
{
    display: flex;
    flex-direction: column;
    height:70% ;
    gap: 50px;
}
nav .sidebar .sidebar_top_wrapper h1
{
    font-family: var(--headingFont);
    color: rgb(231, 83, 38);
    margin: 10px 10px 0 10px;
    font-size: 36px;
}
nav .sidebar .sidebar_top_wrapper h1 .interlink_highlight
{
    color: rgb(33, 28, 28);
}
nav .sidebar .sidebar_top_wrapper ul 
{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav .sidebar .sidebar_top_wrapper ul li
{
    width: 90%;
    padding: 10px 20px;
    text-align: left;
    margin: 6px 0;
    border-radius: 6px;
}
nav .sidebar .sidebar_top_wrapper ul li:hover
{
    cursor: pointer;
    background: var(--mainBackground);
    color: #fff;
}
nav .sidebar .sidebar_top_wrapper ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: inherit;
    font-family: var(--secondaryFont);
    font-weight: 700;
    text-wrap: nowrap;
}

nav .sidebar .sidebar_bottom_wrapper
{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
nav .sidebar .sidebar_bottom_wrapper .search_wrapper
{
    border: 2px solid #000;
    border-radius: 8px;
    height: 34px;
    width: 92%;
    margin: 0 calc(2% + 4px);
    display: flex;
    gap: 12px;
    align-items: center;
}
nav .sidebar .sidebar_bottom_wrapper .search_wrapper input
{
    background: transparent;
    border: none;
    height: 100%;
    width: 80%;
    outline: none;
    line-height: 20px;
    font-size: 16px;
    color: #eee;
}
.fa-magnifying-glass
{
    padding: 0 0 0 10px;
}
.container
{
    position: absolute;
    min-height: 100vh;
    width: 100vw;
    background: url("../images/pexels-pixabay-207896.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.container_overlay
{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0 , 0 , 0 , 0), rgba(0 , 0 , 0 , 0.4) , rgba(0 , 0 , 0 , 0.8));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container_wrapper
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.container .box h1
{
    font-size: 64px;
    font-family: var(--mainFont);
    color: #eee;
    margin: 0.8rem 0.6 0 0.8rem;
}
.container .box h1 span
{
    color: rgb(231, 83, 38);
}
.box_state_2
{
    position: absolute;
    left: 0;
    bottom: 0;
}
.container_wrapper .navbar
{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 40%;
    padding: 1.3rem 0 0 0;
}
.container_wrapper .navbar ul
{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}
.container_wrapper .navbar ul li
{
    font-size: 22px;
    color: black;
    font-family: var(--secondaryFont);
}
.container_wrapper .navbar ul li:hover
{
    color: #fff;
}
.container_wrapper .navbar ul li span
{
    padding: 4px;
    border: 1.5px solid black;
    border-radius: 4px;
}
.container_wrapper .navbar ul li span:hover
{
    background: rgb(231, 83, 38);
    cursor: pointer;
    color: #fff;
}
.container_wrapper .navbar ul li a
{
    color: inherit;
}
nav .inactive
{
    display: none;
}
.expand_btn
{
    position: absolute;
    font-size: 22px;
    cursor: pointer;
    color: black;
    left: 10px;
    z-index: 1000;
}
.expand_btn_state_2
{
    left: 240px;
}
.fa-change_persp
{
    rotate: 90deg;
}