body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.navbar {
    width: 200px;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    margin: 20px 0;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.navbar ul li a:hover {
    background-color: #575757;
}

.navbar-toggle {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
}


@media screen and (max-width: 768px) {
    .navbar {
        position: fixed;
        top: 0;
        right: -200px;
        height: 100vh;
        transition: right 0.3s ease-in-out;
    }

    .navbar.show {
        right: 0;
    }

    .navbar-toggle {
        display: block;
    }

    .content {
        margin-right: 200px;
    }
}
